@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.videocontainer {
	height: 100vh;
	width: 100%;
	position: relative;
	overflow: hidden;
}
#videoiframe {
	height: 100%;
	width: 100%;
	position: absolute;
	pointer-events: none;
	z-index: 1;
	overflow: hidden;
	top: 0;
	left: 0;
}
.videocontainer .overlay {
	background-color: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 2;
}
.videocontainer .overlay h1 {
	color: rgba(255,255,255,1.00);
	font-size: 80px;
	font-family: "Lucida Console", Monaco, monospace;
	padding: 45vh 0;
	text-align: center;
	z-index: 5;
}
.videocontainer .overlay .title {
	position: absolute;
	top: 5vh;
	left: 5vw;
	color: white;
	font-size: 50px;
	font-family: "Lucida Console", Monaco, monospace;
	letter-spacing: 6px;
	z-index: 6;
	text-decoration: none;
}
.pagemenu {
	z-index: 6;
	list-style-type: none;
	display: inline;
	overflow: hidden;
}
.pagemenu li {
	float: right;
	margin-top: 6vh;
}
.pagemenu li a {
	display: block;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	color: white;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 25px;
	letter-spacing: 2px;
	font-variant-caps: all-petite-caps;
}
.whitespace {
	background-color: white;
	height: 200px;
	width: 100%;
	overflow: hidden;
	z-index: 10;
}
.whitespace p {
	color: rgba(94,94,94,1.00);
	font-size: 18px;
	padding-top: 50px;
	padding-bottom: 40px;
	padding-left: 30%;
	padding-right: 30%;
	font-family: "source-sans-pro", "droid-sans", "sans-serif";
	text-align: center;
	z-index: 15;
}
.paral {
	height: 100vh;
	background-attachment: fixed;
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 2;
}
.paral2 {
	height: 450px;
	background-attachment: fixed;
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 2;
}
.paral2 .paragraph {
	color: rgba(255,255,255,1.00);
	font-size: 30px;
	font-family: "source-sans-pro", "droid-sans", "sans-serif";
	text-align: center;
	z-index: 20;
	margin-left: 30vw;
	margin-right: 5vw;
	margin-top: 50px;
}
.paral2 .title {
	color: rgba(255,255,255,1.00);
	font-size: 60px;
	font-family: "Lucida Console", Monaco, monospace;
	margin-left: 10vw;
	margin-top: 200px;
	margin-right: 70vw;
	z-index: 20;
}
.paral .overlay {
	background-color: rgba(29,48,79,0.46);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 4;
}
.paral p {
	color: rgba(255,255,255,1.00);
	font-size: 40px;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
	z-index: 20;
}
.paral h1 {
	color: rgba(255,255,255,1.00);
	font-size: 80px;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
	padding-top: 45vh;
	z-index: 20;
}

@media only screen and (max-aspect-ratio: 16/9 ) {
	.paral {
		background-size: auto 100%;
	}
}