@charset "utf-8";
/* CSS Document */
@import url("https://use.typekit.net/ugv6yjj.css");
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden;
}
footer {
	background-color: rgba(35,46,51,1.00);
	width: 100%;
	height: 160px;
}
footer p {
	font-size: 1em;
	font-family: "Raleway", "Lucida Console", "sans-serif";
	color: gainsboro;
	text-align: center;
	padding-top: 72px;
}
.videocontainer {
	height: 100vh;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.video2 {
	height: 800px;
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: rgba(15,52,96,1.00);
	text-align: center;
}
.video2 iframe {
	padding-top: 75px;
	height: 650px;
	width: 1156px;
}
#videoiframe {
	height: 100%;
	width: 100%;
	position: absolute;
	pointer-events: none;
	z-index: 1;
	overflow: hidden;
	top: 0;
	left: 0;
}
.videocontainer .overlay {
	background-color: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 2;
}
.videocontainer .overlay h1 {
	color: rgba(255,255,255,1.00);
	font-size: 100px;
	font-family: "Raleway", "Lucida Console", Monaco, monospace;
	padding: 45vh 0;
	text-align: center;
	z-index: 5;
}
.maintitle {
	position: absolute;
	top: 5vh;
	left: 5vw;
	color: white;
	font-size: 50px;
	font-family: "Raleway", "Lucida Console", Monaco, monospace;
	letter-spacing: 6px;
	z-index: 6;
	text-decoration: none;
}
.pagemenu {
	z-index: 6;
	list-style-type: none;
	display: inline;
	overflow: hidden;
}
.pagemenu li {
	float: right;
	margin-top: 5vh;
}
.pagemenu li a {
	display: block;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	color: white;
	font-family: "Raleway", "Lucida Console", Monaco, monospace;
	font-size: 25px;
	letter-spacing: 2px;
	font-variant-caps: all-petite-caps;
}
.pagemenu li a:hover {
	color: rgba(56,238,255,1.00);
}
.whitespace {
	background-color: white;
	height: 200px;
	width: 100%;
	overflow: hidden;
	z-index: 3;
}
.whitespace p {
	color: rgba(94,94,94,1.00);
	font-size: 18px;
	padding-top: 72px;
	padding-left: 30%;
	padding-right: 30%;
	font-family: "Raleway", "source-sans-pro", "droid-sans", "sans-serif";
	text-align: center;
	z-index: 4;
}
.amenspace {
	background-color: rgba(15,52,96,1.00);
	width: 100%;
	height: auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.amenspace ul {
	list-style-type: circle;
	list-style-position: outside;
	flex: 0 0 15vw;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 50px;
	padding-bottom: 50px;
}
.amenspace li {
	font-family: "Raleway", "source-sans-pro", "droid-sans", "sans-serif";
	color: white;
	font-size: 20px;
	margin-left: 25px;
	margin-bottom: 10px;
}
.amenspace h1 {
	font-family: raleway, "source-sans-pro", "droid-sans", "sans-serif";
	color: lightcyan;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}
.paral, .paral3 {
	height: 100vh;
	background-attachment: fixed;
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 1;
}
.paral .overlay {
	background-color: rgba(29,48,79,0.46);
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 3;
}
.paral p {
	color: rgba(255,255,255,1.00);
	font-size: 40px;
	font-family: "Raleway", "Lucida Console", Monaco, monospace;
	text-align: center;
	z-index: 2;
}
.paral h1 {
	color: rgba(255,255,255,1.00);
	font-size: 80px;
	font-family: "Raleway", "Lucida Console", Monaco, monospace;
	text-align: center;
	padding-top: 45vh;
	z-index: 2;
}
.paral3 {
	height: 75vh;
}
.paral2 {
	height: 650px;
	width: 100%;
	background-attachment: fixed;
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 2;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.paralheader, .paralheader2 {
	height: 100vh;
	width: 100%;
	background-attachment: fixed;
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 2;
}
.paralheader2 {
	display: none;
}
.paralheader .pagetitle, .paralheader2 .pagetitle {
	color: rgba(255,255,255,1.00);
	font-size: 120px;
	font-weight: 800;
	font-family: "Raleway", "Lucida Console", Monaco, monospace;
	margin-top: 45vh;
	z-index: 3;
	overflow: hidden;
	text-align: center;
}
.paral2 .paragraph {
	color: rgba(255,255,255,1.00);
	font-size: 30px;
	font-family: "Raleway", "Lucida Console", Monaco, monospace;
	text-align: center;
	z-index: 3;
	overflow: hidden;
	flex: 0 0 50vw;
}
.paral2 .title {
	color: rgba(255,255,255,1.00);
	font-size: 60px;
	font-family: "Raleway", "Lucida Console", Monaco, monospace;
	margin-left: 10vw;
	margin-right: 10vw;
	z-index: 3;
	overflow: hidden;
	flex: 0 0 15vw;
}
.site-wrap {
	min-width: 100%;
	min-height: 100%;
	background-color: white;
	position: relative;
	top: 0;
	bottom: 100%;
	left: 0;
	z-index: 10;
}
.sidenav {
	list-style: none;
	background: rgba(15,52,96,1.00);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	display: none;
}
.sidenav li {
	background-color: cadetblue;
	height: 80px;
	border-bottom-width: medium;
	border-bottom-color: white;
	border-bottom-style: groove;
}
.sidenav li a {
	text-decoration: none;
	color: white;
	font-family: "Raleway", "Lucida Console", Monaco, monospace;
	font-size: 25px;
	letter-spacing: 2px;
	font-variant-caps: all-petite-caps;
	padding: 25px 0px 25px 25px;
	display: block;
}
.nav-trigger {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 11;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect fill='white' width='30' height='6'/><rect fill='white' y='24' width='30' height='6'/><rect fill='white' y='12' width='30' height='6'/></svg>");
	background-size: contain;
}
.nav-trigger:checked + label {
	left: 215px;
}
.nav-trigger:checked ~ .site-wrap {
	left: 200px;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.30);
}
.nav-trigger + label, .site-wrap {
	transition: left 0.2s;
}
#sidetitle {
	letter-spacing: 5px;
	font-size: 40px;
	font-weight: bold;
	padding: 17px 25px
}

@media only screen and (max-aspect-ratio: 16/9 ) {
.paral, .paral2 {
	background-size: auto 100%;
}
.paralheader, .paralheader2 {
	background-size: auto 100%;
}
}

@media only screen and (max-width: 480px) {
.videocontainer, .pagemenu, .maintitle {
	display: none;
}
.paral h1 {
	font-size: 60px;
	padding-top: 40vh;
}
.paral p {
	font-size: 30px;
}
.paralheader .pagetitle, .paralheader2 .pagetitle {
	font-size: 60px;
}
.sidenav {
	display: unset;
}
.paralheader2 {
	display: block;
}
.amenspace {
	height: auto;
	flex-wrap: wrap;
}
.paral3 {
	background-size: auto 100%;
	height: 400px;
	background-attachment: scroll;
	background-position: top;
}
.paral2 {
	height: 100vh;
	background-size: auto 100%;
	flex-direction: column;
}
.paral2 .title {
	padding-top: 15%;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 10%;
}
.paral2 .paragraph {
	padding: 0 20px;
	font-size: 30px;
	flex: 0 0 75%;
}
.video2 {
	display: none;
}
#pmain1 {
	padding-top: 48px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 18px;
}
#pmain2 {
	padding-top: 54px;
	font-size: 18px;
	padding-left: 5px;
	padding-right: 5px;
}
#pamen1 {
	padding-left: 5px;
	padding-top: 39px;
	padding-right: 5px;
	padding-bottom: 0px;
	font-size: 18px;
}
#pamen2 {
	padding-top: 58px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	font-size: 18px;
}
.amenspace ul {
	padding-top: 15px;
	padding-bottom: 10px;
	flex: 0 0 0;
}
.amenspace li {
	font-size: 18px;
}
#proom1 {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 45px;
	font-size: 22px;
}
#wsroom1 {
	height: 375px;
}
}
/*iPhone 6,7,8*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
	.paral, .paral2 {
		height: 500px;
	}
	.paral3 {
		height: 450px;
	}
	.paralheader, .paralheader2 {
		height: 667px;
	}
}
/*iPhone 6,7,8 plus*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
	.paral, .paral2 {
		height: 600px;
	}
	.paral3 {
		height: 500px;
	}
	.paralheader, .paralheader2 {
		height: 736px;
	}
}
/*iPhone X*/
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3)and (orientation : portrait) { 
	.paral, .paral2 {
		height: 600px;
	}
	.paral3 {
		height: 500px;
	}
	.paralheader, .paralheader2 {
		height: 812px;
	}
}
@media only screen and (min-width: 480px) {
.nav-trigger, .sidenav, label {
	display: none;
}
#proom1 {
	padding-top: 52px;
}
}
